* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
    color: #334155;
    font-weight: bold;
    text-shadow: 3px 5px 5px #33415598;
    font-size: 3rem;
}

header {
    background-color: #a3a3a3;
    padding: 50px;
    height: 15vh;
}

main {
    background-color: #e5e5e5;
    width: 100%;
    height: 80vh;
    display: flex;
}

footer {
    height: 5vh;
    background-color: #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;
}

.mainDisplay {
    height: 100%;
    flex: 3;
    background-color: transparent;
    padding: 15px 25px 15px 25px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
    overflow: auto;
}

/*.sideDisplay {
    height: 100%;
    flex: 1;
    background-color: #262626;
}*/

/* book cards */

.card {
    background-color: #334155;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    height: 360px;
    color: #e5e5e5;
    border-radius: 15px;
    box-shadow: 0 0 8px black;
    max-width: 400px;
}

.isreadButton {
    padding: 15px;
    width: 50%;
    color: #e5e5e5;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 4px 0 0 #e5e5e5;
    cursor: pointer;
    border-radius: 10px;
}

.isreadButton:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 0 #e5e5e5;
}

#read {
    background-color: #22c55e;
}

#notread {
    background-color: #ef4444;
}

.title {
    font-size: 2rem;
}

.removeButton {
    padding: 15px;
    width: 50%;
    color: #dc2626;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 4px 0 0 #e5e5e5;
    cursor: pointer;
    border-radius: 10px;
    background-color: #0a0a0a;
}

.removeButton:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 0 #e5e5e5;
}

/* card to add a book */

.addBook {
    position: relative;
}

.addBookButton {
    padding: 0;
    width: 200px;
    height: 200px;
    color: red;
    background-color: #172554;
    font-size: 150px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px #e5e5e5;
}

.addBookDescription {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    text
}

/* Form */

.cardForm {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardForm>legend {
    padding: 10px 5px 10px 5px;
    font-weight: bold;
}

.inputs {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs>label {
    font-weight: bold;
}

.inputs>input {
    padding: 10px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

#number {
    flex-direction: row;
    white-space: nowrap;
}

label[for='pages'] {
    align-self: center;
}

#pages {
    width: 80px;
}

#checkbox {
    flex-direction: row;
    justify-content: center;
}

#submitButton {
    align-self: center;
    width: 50%;
    padding: 10px;
    color: #e5e5e5;
    background-color: #172554;
    border: none;
    box-shadow: 0 4px 0 0 #e5e5e5;
    border-radius: 10px;
    cursor: pointer;
}


#submitButton:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 0 #e5e5e5;
}

#gitLogo {
    width: 24px;
    height: auto;
    transition: transform .2s;
    color: gold;
}

#gitLogo:hover {
    transform: scale(1.2);
}